<% include ./partials/boilerplate %>
<% include ./partials/header %>

  <main class="site-content">

    <div id="addItemBoxes">

      <div id="infoWrapper">
        <div id="infoTask"><%=tasks.title%></div>
        <div id="infoStatus"><%=tasks.status%></div>
        <div id="infoDescription"><%=tasks.category%></div>
        <div id="infoButtons">
          <a href="/tasks/<%= tasks.id %>/edit"><button class="bigButton" id="edit">EDIT</button></a>
          <form action="/tasks/<%= tasks.id %>?_method=DELETE" method="Post">
          <button class="bigButton" id="delete">DELETE</button>
        </div>
      </div>
    </div>
  </main>
  <div id="back">
  <a href="/tasks"><button class="bigButton">BACK</button></a>
  </div>
<% include ./partials/footer %>
<% include ./partials/end %>
