<% include ./partials/boilerplate %>
<% include ./partials/header %>
  <main class="site-content">
<div id="addNew">
  <a href="/tasks/add"><button class="bigButton" id="addNewButton">ADD NEW TASK</button></a>
</div>
<% for (let tasks of data) { %>

    <div id="toDoItem">
      <div id="toDoItemTop">
        <div id="task"><%= tasks.title %></div>
        <div id="status"><%= tasks.status %></div>
      </div>
      <div id="toDoItemBottom">
        <div id="category"><%= tasks.category %></div>
        <div id="taskbuttons">
          <a href="/tasks/<%= tasks.id %>"><button class="bigButton" id="info">Info</button></a>
          <a href="/tasks/<%= tasks.id %>/edit"><button class="bigButton" id="edit">Edit</button></a>
            <form action="/tasks/<%= tasks.id %>?_method=Delete " method="Post">
            <button class="bigButton" id="delete">Delete</button>
          </form>
        </div>
      </div>
    </div>
<%}%>


  </main>
<% include ./partials/footer %>
<% include ./partials/end %>
